body {
	background: white;
	color: #1D1D1D;
	text-align: center;
	font-family: Helvetica;
	font-size: 25px;
}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	border-style: solid;
	border-width: 5px;
	border-color: black;
	padding: 0.5px;
	width: 35%;
	height: 10%;
	margin: auto;	
}

p {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;

}

footer {
	position: fixed;
	bottom: 0;
	font-size: 18px;
	font-family: 'Roboto Mono', monospace;
}

.topnav{
	position: fixed;
	top: 0;
	width: 100%;
	background: #FFFFFF;
	overflow: hidden;
}

.topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

.topnav a:hover {
	background-color: black;
	color: white;	
}

.topnav a.active {
    background-color: black;
    color: white;
}