body {
	margin: 0px;
	background: #eeeeee;
	color: #1D1D1D;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

h2 {
	font-family: 'Roboto'; font-weight: 700;
}

p {
	font-size: 18px;
	font-family: 'Roboto:', sans-serif;

}

footer {
	position: fixed;
	bottom: 0;
	font-size: 18px;
	font-family: 'Roboto ', sans-serif;
}
.main{
	margin-top: 50px;
	width: 100%;
}
.topnav{
	top: 0;
	width: 100%;
	transition: top 0.2s ease-in-out;
	background: #003c8f;
/*	overflow: hidden;*/
	position: fixed;
	display: block;
	height: 50px
}

.topnav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

.topnav a:hover {
	background-color: #5e92f3;
	color: white;
	display: block
}

.topnav .icon {
  display: none;
}

.nav-up {
  top: -50px;
}

@media screen and (max-width: 640px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
	}
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 25px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 100; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #f50057; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #ff5983; /* Add a dark-grey background on hover */
}

button {
	color: #f50057;
}